*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    height:100%;
}
body{
    font-family: 標楷體;
    background: url(./assets/image/sky.png) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.login{
    width: 600px;
    height: 500px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 60px #000;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width:400px;
    color: #fff;
}
.login__title{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #fff;
}
.form .login__title__main{
    display: inline-block;
    
}
.form .login__title__icon{
    font-size: 25px;
}
.form .group{
    margin-bottom: 20px;
}
.form .checkbox{
    margin:0 0 20px 0;
    position: relative;
}
.form label{
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
}
.form input{
    border:1px solid #aaa;
    line-height: 3;
    border-radius: 5px;
    width: 100%;
}
.form input[type="checkbox"]{
    display: inline-block;
    vertical-align: middle;
    width:10px;
    height:10px;
    border:1px solid #aaa;
    line-height: 3;
    border-radius: 5px;
}
.form .btn-group{
    font-size: 0;
    margin-top: 15px;
    
}
.form .btn{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #253746;
    width:190px;
    padding: 10px 0;
    color: #fff;
    justify-content: center;
    overflow: hidden;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form .btn:hover{
    background-color: #ffd762;
}
.form .btn + .btn{
    margin-left: 20px;
}
.error{
    padding:0 auto 0;
    font-weight: bolder;
    font-size:20px;
    color:#ffd762;
    text-align: left;
}

@media screen and (max-width: 767px) {

    .login,.btn-group{
        width:100%;
        height:auto;
    }
    
    .form{
        width:100%;
        height:auto;
    }
}