@charset "utf-8";
/*RWD*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    width: 100%;
    margin:auto;
}
/*@media screen and(min-width:768px){
    .main-header{
        display: flex;
    }
}*/
html,body{
    height:100%;
}
body{
    font-family: 標楷體;
    background: url(./assets/image/hospital.png) center no-repeat;
    background-size:cover;
    background-attachment: fixed;
    max-width:100%;
    
}
/*導覽列*/
.main-header{
    background-color: #253746;
}
.main-header .container{
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.main-header .fas{
    color:#fff;
    width:100px;
    vertical-align: middle;
}
.main-header .main-nav{
    display: flex;
    margin:auto;
    font-family: 標楷體;
    font-weight: 600;
    font-size: 19px;
}
.main-header .main-nav a{
    text-decoration: none;
    color:#fff;
    padding: 5px 3em;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
}
.main-header .main-nav a:hover{
    transform: translateY(-10px);
}
.main-header .main-nav a:after{
    content: "";
    position: absolute;
    left:50%;
    right:50%;
    bottom: -5px;
    height:0;
    border-bottom: 1px solid #fff;
    transition: .3s;
}
.main-header .main-nav a:hover:after{
    left:0;
    right:0;
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-items: center;
    justify-content: center;
}
/*水平進度條*/
#myBar {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #253746;
}
#myBar::-webkit-progress-bar {
    background-color: transparent;
}
#myBar::-webkit-progress-value {
    background-color: #253746;
}
#myBar::-moz-progress-bar {
    background-color: #253746;
}
.map{
    position: relative;
    margin-top:3em;
    width: 50%;
    padding: 0 70px 100px 0;
}

.map__iframe{
    position: sticky;
    top: 70px;
    width: 100%;
    height: 315px;
    max-height: calc(100vh - 200px);
}

.reservation{
    width: 50%;
}
.form{
    display: block;
    width: 100%;
    padding:39px 20px 100px 20px;
   
}
.form h3{
    font-weight:bolder;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.form__item{
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 15px 0;
}
.form__item__title{
    font-weight:bolder;
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 10px 0 0;
    padding: 0;
    flex: 0 0 auto;
}
.form__item__box{
    display: block;
    width: 100%;
    flex: 0 1 100%;
}
.form__item__radio{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.form__item__radio .form-check-input{
    margin-top: .5em;
}
.form .input{
    margin-bottom: 1em;
    line-height:2;
}
.form .input p{
    font-weight:bolder;
}
.form .input .btn-group{
    width: 100%;
    justify-items: flex-end;
    justify-content: flex-end;
    font-size: 0;
    margin-top: 20px;
}
.form .input .button{
    font-size: 20px;
    padding: 0 10px;
    color: #fff;
    background-color: #253746;
    border-radius: 5px;
    border: none;
}
.form .input .button:hover{
    background-color: #00A15C;
}
.form .input .button + .button{
    margin-left: 20px;
}
footer{
    position: fixed;
    bottom:0;
    right:0;
    left: 0;
    margin-top: 20px;
}
.footer-bottom{
    background: #253746;
    width:100vw;
    padding:3px 0;
    text-align: center;
}
.footer-bottom p{
    color:#fff;
    font-size: 14px;
    word-spacing:2px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
    .content{
        display: block;
    }
    .map{
        width: 100%;
        margin: 0 auto 40px auto;
        padding: 0;
    }
    .map__iframe{
        position: relative;
    }
    .reservation{
        width: 100%;
    }
    .form__item{
        flex-wrap: wrap;
    }
    .form__item__title{
        width: 100%;
        flex: 0 0 100%;
    }
}